{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block style %}
<style type="text/css">
.picturebackground {
    background-image: url("{% static "img/pinkpic.jpg" %}");
	background-size: cover;
	background-position: center;
	margin-bottom: 0px;
	height: 400px;
}
.jumbotron {
    background-color: transparent !important;
    background-image: url("{% static "img/friends2.jpg" %}");
	background-size: cover;
	text-align: center;
	margin-bottom: 0px !important;
}
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
	<div class="words">
		<h1>WELCOME TO <span id="alert">LIVINADE</span></h1>
		<h2>The easiest way to discover and host events in your area!</h2>
	</div>
</div>


<!-- About Us -->
{% include 'newsletter/about-us.html' %}
<!-- Quote Section -->
<section class="quote">
	<blockquote>
		<p>"I'm doing exactly what I want to do,..."</p>
	</blockquote>
</section>
<section class="picturebackground"></section>
<section class="quote2">
	<blockquote>
		<p>"...and I'm having fun doing it."</p>
		<cite>- David Johansen</cite>
	</blockquote>
</section>

<!-- Key Features -->
{% include 'newsletter/features.html' %}

<!-- Our Team -->
{% include 'newsletter/our-team.html' %}


<!-- Sign Up for Newsletter -->
<section id="thanks" class="sign-up">
	<div class="container" style="text-align: center;">
		<h1 class="section-header">{{ form_head }}</h1>
		<hr>
		<h3>Promise we won't spam you with emails <b>:)</b></h3>
		{% crispy form %}
	</div>
</section>

{% endblock %}