{% load staticfiles %}
<section id="ourTeam" class="padTop">
	<div class="content">
		<h1 class="section-header">Our Team</h1>
	</div>

	<!-- Allen -->
	<div class="our-team our-team-allen our-team-marg">
		<div class="row featurette">
		<div class="container">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Allen Whearry Jr, <span class="text-muted">Co-Founder, CEO</span></h2>
	          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" src='{% static "img/allen_whearry.jpg" %}'>
	        </div>
	    </div>
      </div>
	</div>

	<!-- Evan -->
	<div class="our-team our-team-evan our-team-marg">
		<div class="row featurette">
		<div class="container">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">Evan Shields, <span class="text-muted">Co-Founder, CMO</span></h2>
	          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        </div>
	        <div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" src='{% static "img/evan_shields.jpg" %}'>
	        </div>
	    </div>
      </div>
	</div>

	<!-- Your -->
	<div class="our-team our-team-you our-team-marg">
		<div class="row featurette">
		<div class="container">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">And finally, <span class="text-muted">You!</span></h2>
	          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" src='{% static "img/you.jpg" %}'>
	        </div>
        </div>
      </div>
	</div>
</section>

