{% extends 'layouts/base2.html' %}
{% load static %}
{% block metadata %}
<meta property="og:title" content=" Livinade | {{ event.title }}" />
	{% if event.youtube_id %}
		<meta property="og:type" content="video">
		<meta property="og:video:url" content="https://www.youtube.com/embed/{{ event.youtube_id }}">
		<meta property="og:video:secure_url" content="https://www.youtube.com/embed/{{ event.youtube_id }}">
		<meta property="og:video:type" content="text/html">
	{% else %}
		<meta property="og:image" content="{{ event.flyer.url }}" />
	{% endif %} 
{% endblock %}
{% block title %} | {{ title }} {% endblock %}
{% block style %}
<style type="text/css">
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	
section.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
section.fill img {
    flex-shrink:0;
    min-width:110%;
    min-height:100%;

    -webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}
.event {
	background-color: white;
}
</style>
{% endblock %}


{% block content %}
	{% if event.flyer %}
	<section class="fill">
		<img src="{{ event.flyer.url }}">
	</section>
	{% endif %}
	<section class="event col-md-10 col-md-offset-1">
		{% if event.youtube_id %}
		<div class="event-video">
			<div class="videoWrapper">
				<iframe width="100%" src="https://www.youtube.com/embed/{{event.youtube_id}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		{% else %}
		<div class="videoWrapper">
			<video width="100%" controls>
				<source src="http://spelhousealumni.com/video/spelhouse_promo.m4v" type="video/mp4">
			</video>
		</div>
		{% endif %}

		<div>
			<div class="event-header">
				<div class="row">
					<div class="event-flyer col-md-7">
						{% if event.flyer %}
							<img src="{{ event.flyer.url }}" class="img-responsive">
						{% else %}
							<img src='{% static "img/Downtown_atlanta_night.jpg" %}' class="img-responsive">
						{% endif %}
					</div>
					{% include 'events/event_header.html' %}
				</div>
			</div>

			<div class="row">
				<div class="event-details col-md-7">
					<table>
						<tbody>
							<tr>
								<th>tix number 1</th>
								<td>15.00</td>
							</tr>
							<tr>
								<th>tix number 2</th>
								<td>15.00</td>
							</tr>
							<tr>
								<th>tix number 3</th>
								<td>15.00</td>
							</tr>
						</tbody>
					</table>
					<p> {{ event.details |linebreaks }}</p>
				</div>
				<div class="event-info-indetail col-md-5">
					<div class="col-xs-4">
						999K<br><hr>Interested
					</div>
					<div class="col-xs-4">
						999K<br><hr>Going
					</div>
					<div class="col-xs-4">
						999K<br><hr>Invited
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}