<footer class="footer">
	<div class="container">
		<div class="connectWithUs">
			<h2>Connect With Us</h2>
			<nav>
				<ul>
					<li>
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
						<a href="https://www.facebook.com/livinade/"><span>Facebook</span></a>
					</li>
					<li>
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<a href="https://www.instagram.com/livinade/"><span>Instagram</span></a>
					</li>
					<li>
						<i class="fa fa-snapchat-ghost" aria-hidden="true"></i> 
						<a href="#"><span>Snapchat</span></a>
					</li>
					<li>
						<i class="fa fa-twitter" aria-hidden="true"></i> 
						<a href="#"><span>Twitter</span></a>
					</li>
					<li>
						<i class="fa fa-google-plus" aria-hidden="true"></i> 
						<a href="#"><span>Google+</span></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="copyright col-md-12">
			<h4>&copy Livinade 2016</h4>
		</div>
	</div>  
</footer>